extends layout

block content
  section(class='prompt')
    h1 Protected Page
    h3= `Hi ${user.name || 'Friend'}. Welcome to our web site!`
    form(action='/logout' method='post')
      button(type='submit') Logout
